<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>chris.fonnesbeck@vanderbilt.edu</string>
	<key>contactName</key>
	<string>Chris Fonnesbeck</string>
	<key>description</key>
	<string>Dynamic report generation in R</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>------------------------------------</string>
			<string>23143ED4-0E9D-47A8-99EC-F2D1EB93BB1A</string>
			<string>------------------------------------</string>
			<string>172A0C8C-04AA-4751-A120-C9BDD098D7B4</string>
			<string>1FE05793-303A-4CD8-911B-B904EBDF2DA9</string>
			<string>------------------------------------</string>
			<string>0CCEC06A-E79A-4426-A98D-7A375CAC95C3</string>
			<string>8C2877BB-43F5-4BB2-A41C-6450EA7EE26B</string>
			<string>46BF8028-35BE-40DC-9E52-89CDF679DB02</string>
			<string>------------------------------------</string>
			<string>C187628B-3AC6-4ADD-9CA8-9557568F993E</string>
			<string>CCCC841F-D490-47F1-8A80-1F5A8D76A967</string>
			<string>------------------------------------</string>
			<string>D32436CA-783B-464D-A42B-17CFE4024B62</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>knitr</string>
	<key>ordering</key>
	<array>
		<string>23143ED4-0E9D-47A8-99EC-F2D1EB93BB1A</string>
		<string>172A0C8C-04AA-4751-A120-C9BDD098D7B4</string>
		<string>1FE05793-303A-4CD8-911B-B904EBDF2DA9</string>
		<string>0CCEC06A-E79A-4426-A98D-7A375CAC95C3</string>
		<string>8C2877BB-43F5-4BB2-A41C-6450EA7EE26B</string>
		<string>46BF8028-35BE-40DC-9E52-89CDF679DB02</string>
		<string>C187628B-3AC6-4ADD-9CA8-9557568F993E</string>
		<string>CCCC841F-D490-47F1-8A80-1F5A8D76A967</string>
		<string>D32436CA-783B-464D-A42B-17CFE4024B62</string>
		<string>8E84FC66-5168-4482-A9F6-AC4240A1B860</string>
		<string>4A548E07-8B01-49C1-AB44-115A8B73A94A</string>
		<string>5C161F51-1D8D-4318-8A4D-AA61E94BF7D8</string>		
	</array>
	<key>uuid</key>
	<string>45D90E4F-29CC-47FB-A564-2C78321B00D7</string>
</dict>
</plist>