<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>chris.fonnesbeck@vanderbilt.edu</string>
	<key>contactName</key>
	<string>Chris Fonnesbeck</string>
	<key>description</key>
	<string>Dynamic report generation in R</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>991D5426-F625-449C-A4D1-5EEFA0EE37D1</string>
			<string>794E2B7C-9008-4154-9434-CC74790B62D9</string>
			<string>B8AF3F69-C1FB-4BBD-A836-EE044B003A2C</string>
			<string>------------------------------------</string>
			<string>1FE05793-303A-4CD8-911B-B904EBDF2DA9</string>
			<string>F9D4D197-5756-4DF8-B0C1-87C847D2BAD6</string>
			<string>CF6DD26C-E981-44D4-BA27-CDB2E780C206</string>
			<string>------------------------------------</string>
			<string>A6CDDE2A-1FC8-44A5-939E-3EEFDFF81EDD</string>
			<string>C345713D-756B-4FDD-A7B7-D3D50D9E819C</string>
			<string>8C2877BB-43F5-4BB2-A41C-6450EA7EE26B</string>
			<string>------------------------------------</string>
			<string>C187628B-3AC6-4ADD-9CA8-9557568F993E</string>
			<string>46BF8028-35BE-40DC-9E52-89CDF679DB02</string>
			<string>------------------------------------</string>
			<string>93DFCE3C-7004-4E62-8CA5-2AEEB34552CA</string>
			<string>D32436CA-783B-464D-A42B-17CFE4024B62</string>
			<string>CCCC841F-D490-47F1-8A80-1F5A8D76A967</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>knitr</string>
	<key>ordering</key>
	<array>
		<string>794E2B7C-9008-4154-9434-CC74790B62D9</string>
		<string>B8AF3F69-C1FB-4BBD-A836-EE044B003A2C</string>
		<string>991D5426-F625-449C-A4D1-5EEFA0EE37D1</string>
		<string>CCCC841F-D490-47F1-8A80-1F5A8D76A967</string>
		<string>1FE05793-303A-4CD8-911B-B904EBDF2DA9</string>
		<string>A6CDDE2A-1FC8-44A5-939E-3EEFDFF81EDD</string>
		<string>C345713D-756B-4FDD-A7B7-D3D50D9E819C</string>
		<string>C187628B-3AC6-4ADD-9CA8-9557568F993E</string>
		<string>46BF8028-35BE-40DC-9E52-89CDF679DB02</string>
		<string>8C2877BB-43F5-4BB2-A41C-6450EA7EE26B</string>
		<string>8E84FC66-5168-4482-A9F6-AC4240A1B860</string>
		<string>93DFCE3C-7004-4E62-8CA5-2AEEB34552CA</string>
		<string>5C161F51-1D8D-4318-8A4D-AA61E94BF7D8</string>
		<string>4A548E07-8B01-49C1-AB44-115A8B73A94A</string>
		<string>D32436CA-783B-464D-A42B-17CFE4024B62</string>
	</array>
	<key>uuid</key>
	<string>45D90E4F-29CC-47FB-A564-2C78321B00D7</string>
</dict>
</plist>
